﻿<div class="card login-panel ui-fluid">
    <h2>登录</h2>
  <div class="ui-g">
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="ui-g-12" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <input type="text" name="username" pInputText  [(ngModel)]="model.username" #username="ngModel" required placeholder="账户"/>
        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
      </div>
      <div class="ui-g-12" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <input type="password"  name="password" pInputText [(ngModel)]="model.password" #password="ngModel" required placeholder="密码"/>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>
      <div class="ui-g-12">
        <button pButton label="登录"></button>
      </div>
    </form>
  </div>

</div>
